@using SB.Domain
@model StudentGradeResultSessionsModel

<div class="page">
  <h3 class="page-header">Оценки от изпити</h3>

  <table>
    <thead>
      <tr>
        <th rowspan="2">Учебен предмет/модул</th>
        <th colspan="2">Редовни сесии</th>
        <th rowspan="2">Допълнителна<br/>сесия</th>
        <th rowspan="2">Резултати от сесиите</th>
      </tr>
      <tr>
        <th>I сесия</th>
        <th>II сесия</th>
      </tr>
    </thead>
    <tbody>
      @{ int rowspan = Model.Sessions.Length; }
      @for (int i = 0; i < Model.Sessions.Length; i++)
        {
          <tr>
            <td>@Model.Sessions[i].SubjectName</td>
            <td>@Model.Sessions[i].Session1ResultText</td>
            <td>@Model.Sessions[i].Session2ResultText</td>
            <td>@Model.Sessions[i].Session3ResultText</td>
            @if (i == 0)
            {
              <td rowspan="@rowspan">@Model.FinalResultText</td>
            }
          </tr>
        }
    </tbody>
  </table>
</div>
