@using SB.Domain
@model AttendancesModel

<div class="page">

    @for(int i = 0; i < Model.Months.Length; i++)
    {
      <h3 class="page-header">Сведение за присъствието на децата в групата</h3>

      <table>
        <thead>
        <tr>
          <th rowspan="2">Дете</th>
          <th colspan="@Model.Months[i].Days.Length" class="text-center px-0">@Model.Months[i].MonthName</th>
          <th rowspan="2" class="px-0">Общо<br/>присъствия</th>
        </tr>
        <tr>
          @foreach (var day in Model.Months[i].Days)
          {
            <th class="attendance-header">@day.DayOfMonth</th>
          }
        </tr>
      </thead>
      <tbody>
        @foreach (var student in @Model.Months[i].Students)
        {
          <tr>
            <td>
              @(student.ClassNumber.HasValue ? $"{student.ClassNumber}. {student.FullName}" : student.FullName)
              @if (student.IsTransferred)
              {
                <span class="sb-badge">ОТПИСАН</span>
              }
            </td>
            @for (int j = 0; j < student.Attendances.Length; j++)
            {
              var type = student.Attendances[j];
              <td class="@(Model.Months[i].Days[j].IsOffDay ? "bg-lighhtgray w-px sb-attendance-cell" : "w-px sb-attendance-cell")">
                @(type == AttendanceType.Presence ? "✓" : type == AttendanceType.ExcusedAbsence ? "X" : type == AttendanceType.UnexcusedAbsence ? "⁄" : string.Empty)
              </td>
            }

            <td class="px-0 whitespace-nowrap attendance-header attendance-count-cell">
              @student.PresencesTotal
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td>Общо</td>

          @for (int j = 0; j < @Model.Months[i].PresencesDayTotals.Length; j++)
          {
            <td class="px-0 whitespace-nowrap attendance-header attendance-count-cell">
              @if (!Model.Months[i].Days[j].IsWithoutTotal)
              {
                <span>@Model.Months[i].PresencesDayTotals[j]</span>
              }
            </td>
          }
          <td class="px-0 attendance-header attendance-count-cell">@Model.Months[i].PresencesCountTotal</td>
        </tr>
        <tr>
          <td colspan="@(Model.Months[i].Days.Length + 1)">Средна месечна посещаемост</td>
          <td class="px-0 attendance-header attendance-count-cell">@Model.Months[i].AveragePresencesCount.ToString("F")</td>
        </tr>
      </tfoot>
    </table>

      if (i < Model.Months.Length - 1)
      {
        <div class="page-break"></div>
      }
    }
</div>
